.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: calc(100% + 1rem); /* Adjust _size(element-margin) appropriately */
	margin: 0 0 1.5rem -1rem; /* Adjust _size(element-margin) appropriately */
	padding: 0;
	list-style: none;
}

.features li {
	width: calc((100% / 4) - 1rem); /* Adjust for 4 items per row */
	margin-left: 1rem;
	margin-top: 1.5rem;
	padding: 0;
}

.features li:nth-child(1),
.features li:nth-child(2),
.features li:nth-child(3),
.features li:nth-child(4) {
	margin-top: 0;
}

.features li > :last-child {
	margin-bottom: 0;
}

@media (max-width: 768px) { /* Adjust for medium breakpoint */
	.features li {
		width: calc((100% / 2) - 1rem);
	}

	.features li:nth-child(3),
	.features li:nth-child(4) {
		margin-top: 1.5rem;
	}
}

@media (max-width: 480px) { /* Adjust for small breakpoint */
	.features {
		width: 100%;
		margin: 0 0 1rem 0;
	}

	.features li {
		width: 100%;
		margin-left: 0;
		margin-top: 0rem;
	}

	.features li:nth-child(2),
	.features li:nth-child(3),
	.features li:nth-child(4) {
		margin-top: 0rem;
	}
}
.features li p {
    font-size: 0.84em; /* Adjust size as needed */
}

.features h3 {
    font-weight: bold;
}


.features li img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.features li img:hover {
    transform: scale(1.1); /* Slight zoom effect */
    filter: brightness(1.2); /* Slight brightness increase */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

